body {
    padding-top:72px;
    font-family: 'Gilroy-Medium';
}

.container {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 180px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 38px;
}

.resume-container {
    display:flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
}

.title {
    width: 500px;
    height: 120px;
    font-family: 'Gilroy-SemiBold';
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.005em;
    color: #33334F;
}

.title > span {
   color: #1688FE;
}

.sub-title{
    width: 500px;
    height: 96px;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.005em;
    color: #000000;
}

.sub-title > div:first-child {
    margin-bottom: 20px;
}

.sub-title > div > span {
    font-weight: bold;
}

.drag-n-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 164px;
    gap: 10px;
    width: 940px;
    height: 188px;
    background: #FFFFFF;
    border: 2px dashed #1688FE;
    border-radius: 3px;
}

.drag-n-drop > img {
    margin-top: 32px;
    margin-right: 684px;
    margin-left: 684px;
}

.drag-n-drop > div:first-child{
    width: 291px;
    height: 20px;
    font-family: 'Gilroy-SemiBold';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #33334F;
    margin-right: 684px;
    margin-left: 684px;
}

.drag-n-drop > div> span{
    color: #1688FE;
}

.drag-n-drop > p {
    width: 273px;
    height: 16px;
    font-family: 'Gilroy-SemiBold';
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #7171A6;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 230px;
    height: 48px;
    border: 1px solid #0B78E8;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-family: 'Gilroy-SemiBold';
    font-size: 16px;
    line-height: 24px;
    color: #0B78E8;
}
