body {
    padding-top:72px;
    font-family: 'Gilroy-Medium';
}

.title-container{
    width: 960px;
    height: 98px;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #14141F;
    margin-left: 288px;
    margin-right: 192px;
}

.sub-title{
    width: 960px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #595964;
    margin-left: 288px;
    margin-right: 192px;
    margin-bottom: 64px;
}



.item-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 288px;
    margin-right: 72px;
}

.item-container > * {
    margin-top: 48px;
}

.item-wrapper {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:24px;
    padding:0px;
}

.item-text-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:8px;
    height: 100%;
}

.item-title {
    width: 296px;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 24px;
    color: #14141F;
}

.item-description{
    width: 296px;
    height: 120px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 24px;
    color: #3A3A43;
}

.button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    width: 173px;
    height: 56px;
    border: 1px solid #FF9900;
    border-radius: 8px;
    margin-left: 681px;
    margin-right: 585px;
    margin-bottom: 94px;
    background-color: #ffff;
}

.placeholder{
    width: 125px;
    height: 24px;
    font-family: 'Gilroy-Bold';
    font-size: 12px;
    line-height: 24px;
    color: #FF9900;
    text-align: center;
}